<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Fragments/fragments :: head(title='Best social media ever')">
        <meta charset="UTF-8" />
        <title>Best social media ever</title>
    </head>
    <body>
        <header th:replace="Fragments/fragments :: header">
            <p>navbar</p>
        </header>
        
        <h1 th:if="${account != null}">Hello and welcome <span th:text="${account.username}">user</span> to the best forum mankind has ever devised</h1>
        <h1 th:if="${account == null}">Hello and welcome to the best forum mankind has ever devised</h1>
        
        <h2>Links;</h2>
        <a th:href="@{/register}">register a new account</a>
    </body>
</html>